.text {
    color: rgba(248, 240, 238, 0.5);
    font-family:'Courier New', Courier, monospace;
    font-size: 35px;
}

.p {
    padding: 15px;
}

.title {
    font-size: 45px;
    color: rgb(248, 240, 238);
    padding-left: 15px;
}

html {
    background: url(./dark-mode.jpg) no-repeat left center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.currentText {
    color: rgb(248, 240, 238);
}

.content {
    max-width: 800px;
    min-width: 600px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
}

.title {
    text-align: center;
}