.input {
    cursor: pointer;
}

.text {
    color: rgba(248, 240, 238, 0.5);
    font-family:'Courier New', Courier, monospace;
    font-size: 35px;
}

.p {
    padding: 15px;
}

.title {
    font-size: 45px;
    color: rgb(248, 240, 238);
    padding-left: 15px;
    text-align: center;
}

html {
    background: url(./bg/dark-mode.jpg) no-repeat left center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.currentText {
    color: rgb(248, 240, 238);
}

.content {
    max-width: 1200px;
    min-width: 700px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
}

.setup {
    color: rgb(248, 240, 238);
    font-size: 40px;
}

.hidden {
    visibility: hidden;
    margin-top: -90px;
}

.top {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input .setup {
    margin-left: 200px;
    border-radius: 5px;
    margin-bottom: 20px;
}